---
import Page from "@layouts/Page.astro";
---

<Page title="Astro PWA Starter">
	<section id="root">
		<canvas id="viewport" width="576" height="576"></canvas>
	</section>
</Page>
<style>
	canvas {
		image-rendering: pixelated;
	}
</style>
<script>
	import Game from "@scripts/game.ts";

	document.addEventListener(
		"DOMContentLoaded",
		() => {
			console.log("DOMContentLoaded");

			Game.initialize({
				id: "viewport",
				score: 0,
				health: 100,
				magic: 50,
				tileSize: 100,
				gridSize: 4
			});
		},
		false
	);
</script>
